.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .column-item {
    width: 250px;
    height: 400px;
  }

  img {
    max-width: 100%;
  }

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }